:root {
  --text-color: #263343;
  --background-color: #fce4ec;
  --accent-color: #d49466;
  --img-background-color: #f9fbe7;
}

body {
  margin: 0;
  font-family: "PT Serif";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.img_1 img {
  width: 100%;
  max-height: 600px;
  height: auto;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  position: sticky;
  top: 0;
}

.navbar_logo {
  font-size: 60px;
  color: var(--text-color);
}

.navbar_logo i {
  color: var(--accent-color);
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  font-size: 20px;
  margin: 0px 40px 0px 40px;
}

.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
  font-size: 24px;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 40px;
  color: var(--accent-color);
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding-bottom: 40px;
  background-color: var(--img-background-color);
}

.script_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--text-color);
}

.script_logo i {
  color: var(--accent-color);
}

.main_script {
  text-align: center;
  color: var(--text-color);
  margin: 0;
  font-size: 13px;
  list-style: none;
}

.main_script B {
  font-size: 18px;
}

#imgs {
  position: relative;
  background-color: var(--img-background-color);
}

.img_2_text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}

.img_2 img {
  width: 100%;
  height: 100%;
  border-radius: 400px;
}

.img_3_text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}

.img_3 img {
  width: 100%;
  height: 100%;
  border-radius: 400px;
}

.img_4 {
  background-color: var(--img-background-color);
}

.img_4 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.news {
  text-align: center;
  font-size: 30px;
  background-color: var(--img-background-color);
}

.news_script {
  text-align: center;
  background-color: var(--img-background-color);
  list-style: none;
}

#grid_3 {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  font-size: 30px;
  color: var(--text-color);
}

.footer_logo i {
  color: var(--accent-color);
}

.footer_text {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  margin: 0;
  font-size: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  visibility: visible;
  transition: opacity 20s;
  font-size: 20px;
}
.conf {
  visibility: hidden;
  opacity: 1;
  color: black;
  transition: opacity 20s;
  font-size: 30px;
}

#stickyNav {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_logo {
    font-size: 45px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #imgs {
    display: flex;
    background-color: var(--img-background-color);
  }

  .img_2_text {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .img_3_text {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .news_script iframe {
    width: 60%;
    height: 400px;
  }
}
